body{
    display: flex;
    margin: 0px;
    font-family: sans-serif;
}

/*INFO: para habilitar aside, remover diplay:none, alterar width em main*/
aside{
    width: 5%;
}
main#principal{
    width: 100%;
}
header#cabecalho{
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    border-radius: 25px;
}
header#cabecalho > figure{
    align-items: center;
    margin: 0px;
}
header#cabecalho > figure > h1{
    color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
header#cabecalho > figure > img{
    height: 40px;
}
nav#menu{
    height: 100%;
}
nav#menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav#menu > ul > li {
    float: left;
}
nav#menu > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav#menu >  ul > li a:hover {
    background-color: #111;
}
nav#menu >  ul > li a.ativo {
    background-color: #111;
}
section#conteudo{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    background-image: url(../img/1200px-SARS-CoV-2_without_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
article.noticia{
    background-color: rgba(211, 211, 211, 0.95);
    margin: 5px 15px 15px 5px;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    width: 100%;
}

article.noticia > figure img{
    width: 100%;
}

article.noticia > div#youtube{
    position: relative;
    width: 100%;
    text-align: center;
}
article.noticia > div#youtube > iframe{
    height: 315px;
    width: 560px;
    max-width:100%;
}
article.noticia > p{
    text-indent: 1cm;
    line-height: 150%;
    text-align: justify;
    margin: 5px;
}

article.noticia > footer > p{
    text-align: right;
}

footer#rodape{
    justify-content: center;
    text-align: center;
    padding:15px;
    background-color: #333;
    color: whitesmoke;
    border-radius: 25px;
}

footer#rodape{
    white-space: nowrap;
}
footer#rodape span#confirmados{
    color: lightcoral;
    font-weight: bold;
}
footer#rodape span#recuperados{
    color: lightgreen;
    font-weight: bold;
}
footer#rodape span#mortes{
    color: lightgray;
    font-weight: bold;
}
