body{
    display: flex;
    margin: 0px;
    font-family: sans-serif;
}

/*INFO: para habilitar aside, remover diplay:none, alterar width em main*/
aside{
    width: 5%;
}
main#principal{
    width: 100%;
}
header#cabecalho{
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 40px;
    border-radius: 25px;
}
header#cabecalho > figure{
    align-items: center;
    margin: 0px;
}
header#cabecalho > figure > h1{
    color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
header#cabecalho > figure > img{
    height: 40px;
}
nav#menu{
    height: 100%;
}
nav#menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav#menu > ul > li {
    float: left;
}
nav#menu > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav#menu >  ul > li a:hover {
    background-color: #111;
}
nav#menu >  ul > li a.ativo {
    background-color: #111;
}
section#conteudo{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    background-image: url(../img/1200px-SARS-CoV-2_without_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
article.noticia{
    background-color: rgba(211, 211, 211, 0.95);
    margin: 5px 15px 15px 5px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    width: 100%;
}

article.noticia > figure img{
    width: 100%;
}

article.noticia > div#youtube{
    position: relative;
    width: 100%;
    text-align: center;
}
article.noticia > div#youtube > iframe{
    height: 315px;
    width: 560px;
    max-width:100%;
}
article.noticia > p{
    text-indent: 1cm;
    line-height: 150%;
    text-align: justify;
    margin: 5px;
}

article.noticia > footer > p{
    text-align: right;
}

footer#rodape{
    justify-content: center;
    text-align: center;
    padding:15px;
    background-color: #333;
    color: whitesmoke;
    border-radius: 25px;
}

footer#rodape{
    white-space: nowrap;
}
footer#rodape span#confirmados{
    color: lightcoral;
    font-weight: bold;
}
footer#rodape span#recuperados{
    color: lightgreen;
    font-weight: bold;
}
footer#rodape span#mortes{
    color: lightgray;
    font-weight: bold;
}


/*Saiba Mais*/
article.noticia > section > header{
    text-align: center;
}

article.noticia > section > figure{
        text-align: center;
}

article.noticia > section > figure > img{
    max-width: 100%;
    max-height: 200px;
}

article.noticia > section > p{
    text-indent: 1cm;
    line-height: 150%;
    text-align: justify;
    margin: 5px;
}

article.noticia > section > footer > p{
    text-align: right;
}

/*Contato*/
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #AAA;
    border-radius: 1em;
        text-align: center;
}
form div + div {
    margin-top: 1em;

}
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea, button {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}
textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}
